# Hide env config
.env

# Global
.*.swp
.DS_Store

# mysql
data/db/dumps/*
data/db/mysql/*

# nginx / wordpress / nextcloud
data/nextcloud/*
data/web/public/*
data/web/*.crt
data/**/wordpress/*
data/public/*
data/**/index.html
data/nginx/*
!data/nginx/certbot.conf
!data/nginx/wp.tmpl

# invoiceninja
data/invoiceninja/*


# letsencrtypt
!/data/web/public/certbot.htm
le/data/*
le/certs/*

# process .gitkeep
!**/.gitkeep
